{% extends "ncdc/base.html" %}
{% load static %}

{% block title %}About - NCDC{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'ncdc/css/about.css' %}"> {%endblock%}

{% block content %}
<section class="hero-section">
    <div class="hero-overlay">
        <h1>About The NCDC</h1>
    </div>
</section>

<section class="about-section">
    <div class="hierarchy-container">
        <h2>NCDC Hierarchy</h2>
        <img src="{% static 'ncdc/images/Section2.png' %}" alt="NCDC Hierarchy">
    </div>
    <div class="about-text">
        <h3>About The NCDC</h3>
        <p>The Nigeria Centre for Disease Control and Prevention (NCDC) is the national public health institute <br>
            with the mandate to lead the preparedness, detection and response to infectious disease outbreaks <br>
            and public health emergencies...</p>
    </div>
</section>


{% endblock %}


