{% extends "ncdc/base.html" %}
{% load static %}
{% block title %}NFETP - NCDC{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'ncdc/css/internship.css'%}">{% endblock %}


{% block content %}
<section class="hero-section">
    <h2 class="section-title">The NCDC Post-Baccalaureate Internship Programme</h2>
</section>
<section class="internship-section">
    <div class="container">

        <p>
            The Nigeria Centre for Disease Control (NCDC) post-baccalaureate internship programme provides short term opportunities for fresh graduates, postgraduate students and interested candidates in the medical and paramedical professions, to broaden their knowledge and build capacities in prevention, detection and control of diseases of public health importance. 
        </p>
        <p>
            The programme offers to interns learning opportunities for hard, soft and professional skills, including improved capacity for report writing, proper meeting documentation, public presentations, disease surveillance, and more. Students in relevant research degree programmes within and outside Nigeria can also participate in short term research projects under direct field supervision at NCDC. The overall aim of the programme is to develop and strengthen public health workforce within and outside Nigeria in line with global best practices.
        </p>

        <h2>Programme Schedule:</h2>
        <p>The internship programme admits two cohorts annually:</p>
        <ul>
            <li>1st Cohort (May - July)</li>
            <li>2nd Cohort (September - November)</li>
        </ul>

        <h2>Programme Duration</h2>
        <ul>
            <li>3 months</li>
        </ul>

        <h2>Selection Criteria:</h2>
        <p>
            Applicants must be graduates who have completed the NYSC. Applicants in the following categories are preferable:
        </p>
        <ul>
            <li>Graduate student of Community/Public Health, Epidemiology, Laboratory Science, Emergency Management, Health and Commodity Management, Risk Communication, ICT and related fields.</li>
            <li>Personnel working in Ministries of Health, Agriculture, Environment, Information or those in relevant institutions or engaged in research in the aforementioned fields.</li>
            <li>Candidates are advised to come with a laptop upon resumption</li>
            <li>Candidates are advised to be fully vaccinated and come with evidence of vaccination</li>
            <li>We encourage adherence to IPC and other safety measures</li>
        </ul>

        <h2>Call for Application:</h2>
        <p>
            Please note that this portal is to be open for application of candidates on Tuesday 17th October 2023 and close on Friday 20th October 2023.
        </p>
        <p>
            Visit <a href="https://career.ncdc.gov.ng/">Our Career Page</a>to apply
        </p>
    </div>
</section>
{% endblock %}
