{% extends "ncdc/base.html" %}
{% load static %}
{% block title %}News - NCDC{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'ncdc/css/news_home.css' %}">{% endblock %}


{% block content %}
<section class="hero-section">
  <h2>News Page</h2>
</section>
<section class="news-section">
    <!-- Blog Posts Section -->
    <div class="news-section-grid">
        <h2>Blog Posts</h2>
        <div class="grid">
            {% for post in blog_posts %}
            <div class="card" onclick="showPostModal('blog-{{ post.id }}')">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content|truncatechars:100 }}</p>
                <small>By {{ post.author }} on {{ post.date_published }}</small>
            </div>
            <!-- Blog Modal -->
            <div id="blog-{{ post.id }}" class="modal">
                <div class="modal-content">
                    <button class="close" onclick="closePostModal('blog-{{ post.id }}')">&times;</button>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                    <small>By {{ post.author }} on {{ post.date_published }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
        <button onclick="location.href='{% url 'blog_posts_list' %}'" class="view-more">View More</button>
    </div>

    <!-- DG's Blog Section -->
    <div class="news-section-grid">
        <h2>DG's Blog</h2>
        <div class="grid">
            {% for post in dg_posts %}
            <div class="card" onclick="showPostModal('dg-{{ post.id }}')">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content|truncatechars:100 }}</p>
                <small>Published on {{ post.date_published }}</small>
            </div>
            <!-- DG Modal -->
            <div id="dg-{{ post.id }}" class="modal">
                <div class="modal-content">
                    <button class="close" onclick="closePostModal('dg-{{ post.id }}')">&times;</button>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                    <small>Published on {{ post.date_published }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
        <button onclick="location.href='{% url 'dg_posts_list' %}'" class="view-more">View More</button>
    </div>
</section>
<script>
    function showPostModal(id) {
      document.getElementById(id).style.display = 'block';
    }

    function closePostModal(id) {
        document.getElementById(id).style.display = 'none';
    }
</script>
{% endblock %}
