{% extends 'ncdc/base.html' %}
{% block title %}NFETP - NCDC{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'ncdc/css/nfetp.css'%}">{% endblock %}

{% block content %}
<section class="hero-section">
    <h2>NFELTP</h2>
</section>
<div class="container">
    <div class="main-content">
        <p>
            The Field Epidemiology Training Programme (FETP) is a competency-based training and service
            programme in applied epidemiology and public health that builds capacity in strengthening disease
            surveillance and response systems. It is a strategy that enables countries to meet the International
            Health Regulation (IHR) core capacity requirements for workforce development and contribute to the Global
            Health Security Agenda (GHSA).
        </p>
        <p>
            The Nigeria Field Epidemiology and Laboratory Training Programme (NFELTP) was established in October 2008,
            under the leadership of the Federal Ministry of Health (FMoH), with the Federal Ministry of Agriculture and
            Rural Development (FMARD), Ahmadu Bello University (ABU), and University of Ibadan (UI) as major
            stakeholders.
            Funding and technical support were provided by the United States Centers for Disease Control and Prevention
            (US CDC) through the African Field Epidemiology Network (AFENET).
        </p>
        <p>
            The Nigeria Centre for Disease Control (NCDC) Establishment Act which was signed into law in 2018 states
            that
            the agency shall “lead on the training of field epidemiologists through the Nigeria Field Epidemiology and
            Laboratory Training Programme”. In line with this Act, NCDC currently leads the implementation of the
            programme, in collaboration with FMoH, FMARD and the Federal Ministry of Environment (FMEnv). After more
            than ten years since the establishment of the NFELTP and given rapidly evolving global health events and
            priorities, the programme has been refocused as the Nigeria Field Epidemiology Training Programme (NFETP).
        </p>
        <p>
            The goal of the NFETP is “to strengthen and coordinate Nigeria’s ability to respond to public health
            emergencies
            through training public health leaders in interventional epidemiology and developing institutionalised and
            sustainable public health workforce capacity”. To address the different levels of expertise required at the
            national, state and local government levels, the NFETP is being implemented as a
            three-tiered pyramidal model: Integrated Training for Surveillance Officers in Nigeria (ITSON),
            Intermediate NFETP (I-NFETP) and Advanced NFETP (A-NFETP).
        </p>
        <img src="{% static 'ncdc/images/fetp image.png'%}">
        <table>
            <thead>
            <tr>
                <th>The Integrated Training for Surveillance Officers in Nigeria</th>
                <th>The Intermediate Nigeria Field Epidemiology Training Programme</th>
                <th>The Advanced Nigeria Field Epidemiology Training Programme</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>(ITSON)</td>
                <td>(I-NFETP)</td>
                <td>(A-NFETP)</td>
            </tr>
            <tr>
                <td>
                    The Integrated Training for Surveillance Officers in Nigeria (ITSON) is a three-month integrated
                    training
                    programme that incorporates global best practices in disease surveillance training. It is a
                    competency-based
                    field epidemiology training aimed at improving disease surveillance and response to priority
                    diseases. It
                    targets frontline health workers responsible for disease surveillance at the local government level.
                </td>
                <td>
                    The Intermediate NFETP (I-NFETP) is a nine-month in-service programme focused on strengthening
                    capacity for
                    public health surveillance, outbreak investigation and response, public health research and use of
                    planned
                    survey data for decision-making. It is designed to rapidly meet specific national and state public
                    health
                    emergency needs by targeting mid-level health workers at both levels.
                </td>
                <td>
                    The Advanced NFETP (A-NFETP) is a two-year advanced training programme in applied epidemiology and
                    public
                    health laboratory practice. This is targeted at building a strong workforce for health security in
                    Nigeria.
                    It primarily targets health workers involved in disease surveillance and response activities at the
                    federal
                    and state levels. Suitably qualified candidates from relevant governmental Ministries, Departments
                    and
                    Agencies, as well as individuals from private institutions may be considered, based on a competitive
                    enrollment process.
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            Graduates of the NFETP provide public health service during long-term field placements and are trained for key leadership positions in various levels of the Ministries of Health, Agriculture & Rural Development, and Environment and other public health institutions. As a Training Programs in Epidemiology and Public Health Interventions Network (TEPHINET)-accredited programme, the Nigeria FETP has trained over 400 Field Epidemiologists who have supported the control of over 300 outbreaks including for Ebola, monkeypox, avian influenza, Lassa fever, lead poisoning, among others.
        </p>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>NFETP Announcements</h2>
        <div class="announcement">
            <h3>Advanced NFETP FAQ</h3>
            <p>Frequently Asked Questions (FAQs)...</p>
            <a href="#">Learn more</a>
        </div>
        <div class="announcement">
            <h3>2019 Field Epidemiology and Laboratory Training Program, Cohort 11, Ahmadu Bello University</h3>
            <p>AHMADU BELLO UNIVERSITY in collaboration with FEDERAL MINISTRY OF HEALTH an...</p>
            <a href="#">Learn more</a>
        </div>
        <div class="announcement">
            <h3>2019 Field Epidemiology and Laboratory Training Program, Cohort 11, University of Ibadan</h3>
            <p>THE UNIVERSITY OF IBADAN in...</p>
            <a href="#">Learn more</a>
        </div>
    </div>
</div>
{% endblock %}